.external-dossier {
  display: inline-block;
}

.external-dossier > .button {
  display: inline-block !important;
  vertical-align: middle !important;
  margin: 0 !important;
  width: 13rem !important;
}

.external-dossier-files-list > .item {
  position: relative;
}

.external-dossier-files-list > .item > .label {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.external-dossier-files-list > .active.item {
  box-shadow: 0 0 0 100rem rgba(20, 100, 200, 0.15) inset !important;
}

.thumbnail-file-name {
  word-wrap: break-word;
  word-break: break-all;
  color: rgba(0, 0, 0, 0.8);
}

.upload-mode-selection {
  border-radius: 0 .28571429rem .28571429rem 0 !important;
  margin: 0 !important;
}

.upload-mode-selection > .menu {
  right: 0 !important;
  left: auto !important;
}

.thumbnail-file-name {
  vertical-align: top !important;
  margin-top: 0.3rem !important;
  font-size: 0.8rem !important;
}

.compact-external-files-list {
  position: relative;
  overflow: hidden;
  overflow: -moz-hidden-unscrollable;
  font-size: 0;
}

.compact-external-files-list > * {
  font-size: 1rem;
}

.external-sidebar {
  position: absolute;
  left: 0;
  top: 0;
  background: white;
  font-size: 1rem;
  box-shadow: 20px 20px 10px -20px rgba(34, 36, 38, 0.15) !important;
  transition: margin 0.3s ease-out;
  z-index: 1;
}

.external-sidebar .external-sidebar-label {
  display: block;
  position: absolute;
  top: 120px;
  left: 100%;
  background: bisque;
  box-shadow: 0 3px 3px rgba(34, 36, 38, 0.15);
  width: 150px;
  height: 30px;
  padding: 3px;
  text-align: center;
  transform: rotate(-90deg) translateY(-60px);
  font-weight: bold;
  font-size: 1.2rem;
  cursor: pointer;
}

.external-sidebar:hover {
  margin-left: 0 !important;
}

.external-sidebar .external-dossier-files-list > .item {
  margin-bottom: 1rem !important;
}
